@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.cats{
    max-width: 60%;
    height: auto;
}
.spray-bottle{
    max-width: 75%;
    height: auto;
}

.facts {
    min-height: 100px;
    background-color: #3e603e;
    border: 5px solid #f0eed4;
    padding:10px;
    color: #f0eed4;
    margin: 5px;
    
}

body{
    background-color: #645536;
}

h1{
    background-color: #3e603e; 
    border:5px solid #f0eed4;
    color:#f0eed4;
    font-family: 'Poppins';
}
p{
    font-family: 'Poppins';
    color: #f0eed4;
}
