#red_light{
    height: 60px;
    width: 60px;
    background-color: grey;
    border-color:black;
    border-radius: 50%;
    margin: 10px;
}
#yellow_light{
    height: 60px;
    width: 60px;
    background-color: grey;
    border-color:black;
    border-radius: 50%;
    margin: 10px;
}
#green_light{
    height: 60px;
    width: 60px;
    background-color: green;
    border-color:black;
    border-radius: 50%;
    margin: 10px;
}
#base{
    background-color: black;
    border: 5px solid yellow;
    width:90px;
    border-radius: 5%;
    margin: auto;
}
#clicker{
    margin-left: 540px;
}