h1 {
    color : bisque;
    font : url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');   
}
h3{
    color :bisque
}
p{
    color: bisque;
}
body{
    background-color: cadetblue;
}