head {
    background-color: darkseagreen;
}
h1 {
    color : rgb(167, 109, 222);
    font : url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');
    
}
body{
    background-color: cadetblue;
}